/CLAUDE.md
/.obsidian
/data/Gadgetbridge
/data/plugins/
/data/metabase.jar
/data/Gadgetbridge.zip
/data/metabase.db.trace.db
/data/Gadgetbridge.bak
/data/__pycache__/
/data/deep_sleep_phases.db
/data/.env